{% extends "base.html" %}

{% load static %}

{% block subtitle %}Велосипеды{% endblock subtitle %}
<!--/banner-->
{% block content %}

<div class="bikes">		 
	 <div id="mountain" class="mountain-sec">
		 <h2>MOUNTAIN BIKES</h2>
		 {% for bike in mountain %}
		 <a href="/bicycles/{{ bike.id }}">
			 <div class="bike">
				 {% for i in bike.product_images.all %}
				 {% if forloop.first %}
				 <img src="{{ i.image.url }}" alt=""/>
				 {% endif %}
				 {% endfor %}
				 <div class="bike-cost">
					 <div class="bike-mdl">
						 <h4>{{ bike.name }}<span>Model:{{ bike.model }}</span></h4>
					 </div>
					 <div class="bike-cart">
						 <a class="buy" href="/bicycles/{{ bike.id }}">BUY NOW</a>
					 </div>
					 <div class="clearfix"></div>
				 </div>
				 <div class="fast-viw">
						<a href="/bicycles/{{ bike.id }}">Quick View</a>
				 </div>
			 </div>
		 </a>
		 {% endfor %}

			 <div class="clearfix"></div>
	  </div>
		 
	  <div id="single" class="singlespeed-sec">
		   <h2 >SINGLE SPEED-BIKES</h2>
			 {% for bike in single %}
			 <a href="/bicycles/{{ bike.id }}">
				 <div class="bike">
					 {% for i in bike.product_images.all %}
					 {% if forloop.first %}
					 <img src="{{ i.image.url }}" alt=""/>
					 {% endif %}
					 {% endfor %}
					 <div class="bike-cost">
						 <div class="bike-mdl">
							 <h4>{{ bike.name }}<span>Model:{{ bike.model }}</span></h4>
						 </div>
						 <div class="bike-cart">
							 <a class="buy" href="/bicycles/{{ bike.id }}">BUY NOW</a>
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="fast-viw">
							<a href="/bicycles/{{ bike.id }}">Quick View</a>
					 </div>
				 </div>
			 </a>
		 {% endfor %}

			 <div class="clearfix"></div>
		 </div>
		 
		 <div id="road" class="road-sec">
		   <h2 >ROAD-BIKES</h2>
			 {% for bike in road %}
			 <a href="/bicycles/{{ bike.id }}">
				 <div class="bike">
					 {% for i in bike.product_images.all %}
					 {% if forloop.first %}
					 <img src="{{ i.image.url }}" alt=""/>
					 {% endif %}
					 {% endfor %}
					 <div class="bike-cost">
						 <div class="bike-mdl">
							 <h4>{{ bike.name }}<span>Model:{{ bike.model }}</span></h4>
						 </div>
						 <div class="bike-cart">
							 <a class="buy" href="/bicycles/{{ bike.id }}">BUY NOW</a>
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="fast-viw">
							<a href="/bicycles/{{ bike.id }}">Quick View</a>
					 </div>
				 </div>
			 </a>
		 {% endfor %}

			 <div class="clearfix"></div>
		 </div>
		 
 </div>

{% endblock content %}
