<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>

<html>
<head>
<title>{% block title %}Bike Shop / {% block subtitle %}{% endblock subtitle %}{% endblock title %}</title>
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (Bootstrap's plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Bike-shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
<!--webfont-->
<!-- dropdown -->
<script src="{% static 'js/jquery.easydropdown.js' %}"></script>
<link href="{% static 'css/nav.css' %}" rel="stylesheet" type="text/css" media="all"/>
<script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
<!--js-->
<!---- start-smoth-scrolling---->
		<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
		</script>
<!---- start-smoth-scrolling---->

{% block extra_scripts %}

{% endblock extra_scripts %}

</head>
<body>
<!--banner-->
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>

<div class="banner-bg {% if mainpage == True %}banner-bg1{% else %}banner-sec{% endif %}">
	  <div class="container">
			 <div class="header">
			       <div class="logo">
						 <a href="/"><img src="{% static 'images/logo.png' %}" alt=""/></a>
				   </div>
				  <div class="top-nav">
						<label class="mobile_menu" for="mobile_menu">
						<span>Menu</span>
						</label>
						<input id="mobile_menu" type="checkbox">
					   <ul class="nav">
						  <li class="dropdown1"><a href="{% url 'bicycles' %}">BICYCLES</a>
							  <ul class="dropdown2">
									<li><a href="{% url 'bicycles' %}#mountain">FIXED / SINGLE SPEED</a></li>
									<li><a href="{% url 'bicycles' %}#single">CITY BIKES</a></li>
									<li><a href="{% url 'bicycles' %}#road">PREMIMUN SERIES</a></li>
							  </ul>
						  </li>
						  <li class="dropdown1"><a href="{% url 'parts' %}">PARTS</a>
							 <ul class="dropdown2">
									<li><a href="{% url 'parts' %}">TUBES</a></li>
									<li><a href="{% url 'parts' %}">CHAINS</a></li>
									<li><a href="{% url 'parts' %}">TUBES</a></li>
									<li><a href="{% url 'parts' %}">TIRES</a></li>
									<li><a href="{% url 'parts' %}">DISC BREAKS</a></li>
							  </ul>
						 </li>
						 <li class="dropdown1"><a href="{% url 'accessories' %}">ACCESSORIES</a>
							 <ul class="dropdown2">
									<li><a href="{% url 'accessories' %}">LOCKS</a></li>
										<li><a href="{% url 'accessories' %}">HELMETS</a></li>
										<li><a href="{% url 'accessories' %}">ARM COVERS</a></li>
										<li><a href="{% url 'accessories' %}">JERSEYS</a></li>
							  </ul>
						 </li>
						 <li class="dropdown1"><a href="404.html">EXTRAS</a>
							 <ul class="dropdown2">
									<li><a href="404.html">CLASSIC BELL</a></li>
									<li><a href="404.html">BOTTLE CAGE</a></li>
									<li><a href="404.html">TRUCK GRIP</a></li>
							  </ul>
						 </li>
						  <a class="shop" href="{% url 'shoppingbag' %}"><img src="{% static 'images/cart.png' %}" alt=""/></a>
					  </ul>
				 </div>
				 <div class="clearfix"></div>
			 </div>
	  </div>
    {% block extra_header %}

    {% endblock extra_header %}
</div>

<!--/banner-->
{% block content %}

{% endblock content %}
<!---->
<div class="footer">
	 <div class="container wrap">
		<div class="logo2">
			 <a href="index.html"><img src="{% static 'images/logo2.png' %}" alt=""/></a>
		</div>
		<div class="ftr-menu">
			 <ul>
				 <li><a href="{% url 'bicycles' %}">BICYCLES</a></li>
				 <li><a href="{% url 'parts' %}">PARTS</a></li>
				 <li><a href="{% url 'accessories' %}">ACCESSORIES</a></li>
				 <li><a href="404.html">EXTRAS</a></li>
			 </ul>
		</div>
		<div class="clearfix"></div>
	 </div>
</div>
<!---->

</body>
</html>

