{% extends "base.html" %}

{% load static %}

{% block subtitle %}Главная{% endblock subtitle %}

{% block extra_header %}

	 <div class="caption">
		 <div class="slider">
					   <div class="callbacks_container">
						   <ul class="rslides" id="slider">
							    <li><h1>MOUNTAIN BIKES</h1></li>
								<li><h1>SINGLE-SPEED BIKES</h1></li>
								<li><h1>ROAD BIKES</h1></li>
						  </ul>
						  <p>You <span>create</span> the <span>journey,</span> we supply the <span>parts</span></p>
						  <a class="morebtn" href="/bicycles/">SHOP BIKES</a>
					  </div>
				  </div>
	 </div>
	 <div class="dwn">
		<a class="scroll" href="#cate"><img src="{% static 'images/scroll.png' %}" alt=""/></a>
	 </div>

{% endblock extra_header %}

{% block content %}

<div id="cate" class="categories">
	 <div class="container">
		 <h3>CATEGORIES</h3>
		 <div class="categorie-grids">
			 <a href="{% url 'bicycles' %}"><div class="col-md-4 cate-grid grid1">
				 <h4>MOUNTAIN BIKES</h4>
				 <p>Are you ready for the 27.5 Revloution ?</p>
				 <a class="store" href="{% url 'bicycles' %}">GO TO STORE</a>
			 </div></a>
			 <a href="{% url 'bicycles' %}"><div class="col-md-4 cate-grid grid2">
				 <h4>SINGLE-SPEED BIKES</h4>
				 <p>Exclusive Bike Components</p>
				 <a class="store" href="{% url 'bicycles' %}">GO TO STORE</a>
			 </div></a>
			 <a href="{% url 'bicycles' %}"><div class="col-md-4 cate-grid grid3">
				 <h4>ROAD BIKES</h4>
				 <p>Street Playground</p>
				 <a class="store" href="{% url 'bicycles' %}">GO TO STORE</a>
			 </div></a>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!--bikes-->
<div class="bikes">	
		 <h3>POPULAR BIKES</h3>
		 <div class="bikes-grids">			 
			 <ul id="flexiselDemo1">
				 {% for bike in all_bikes %}
				 <li>
					 <img src="{{ bike.image.0.image.url }}" alt=""/>
					 <div class="bike-info">
						 <div class="model">
							 <h4>{{ bike.name }}<span>${{ bike.price }}</span></h4>
						 </div>
						 <div class="model-info">

							 <a href="/bicycles/{{ bike.id }}">BUY</a>
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="/bicycles/{{ bike.id }}">Quick View</a>
					 </div>
				 </li>
				 {% endfor %}

		    </ul>
			<script type="text/javascript">
			 $(window).load(function() {			
			  $("#flexiselDemo1").flexisel({
				visibleItems: 3,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover:true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: { 
					portrait: { 
						changePoint:480,
						visibleItems: 1
					}, 
					landscape: { 
						changePoint:640,
						visibleItems: 2
					},
					tablet: { 
						changePoint:768,
						visibleItems: 3
					}
				}
			});
			});
			</script>
			<script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>
	</div>
</div>
<!---->
<div class="contact">
	<div class="container">
		<h3>CONTACT US</h3>
		<p>Please contact us for all inquiries and purchase options.</p>
		<form>
			 <input type="text" placeholder="NAME" required="">
			 <input type="text" placeholder="SURNAME" required="">			 
			 <input class="user" type="text" placeholder="USER@DOMAIN.COM" required=""><br>
			 <textarea placeholder="MESSAGE"></textarea>
			 <input type="submit" value="SEND">
		</form>
	</div>
</div>

{% endblock content %}
